*scrap.*
Feedback/
139_Assessment/Code_Challenge/
179_Assessment/code*
209_Assessment/209_Take_Home/
219_Assessment/interview_101817.html
249_Assessment/249_Take_Home/
249_Assessment/dictionary/javascripts/auth_data.js

capstone_info_session_101317.md
