type: "MARKDOWN_NOTE"
folder: "ab9271ff5a295b1f06dd"
title: "Interview Study Guide"
content: '''
  # Interview Study Guide
  This interview is going to assess your skills of basic JavaScript programming and problem solving skills. Please take time to prepare for the interview with the study guide below. See Assessment Rules for the policy on retakes.
  
  Here is a list of JavaScript specific topics that you need to study on:
  
  * [x] Language syntax, types and flow control
  * [ ] Functions, variables and scopes
  * [ ] Arrays and objects
  * [x] Language built-in methods on String and Array
  * [x] Mutability of values and objects
  * [ ] Pure functions and side effects
  * [ ] Regular expressions (what's covered in our book)
  
  Here is a list of general problem solving topics that you're expected to demonstrate in the interview:
  
  * Be able to build and communicate a clear plan towards solving a given problem
  * Fluent with JavaScript's built-in list processing abstractions and higher-order functions
  * Be able to write code that follows clear and idiomatic abstractions
  * Be able to validate assumptions, debug issues and fix any problems
  * Good code style
  
  General communication and presence
  
  * Think, speak and code deliberately
  * Accuracy in concepts and terminologies
  * Stay calm
  
  ## My Additions
  * [ ] Passing Functions as Arguments
'''
tags: []
isStarred: false
createdAt: "2017-10-06T19:25:48.396Z"
updatedAt: "2017-10-17T00:00:55.498Z"
