type: "MARKDOWN_NOTE"
folder: "bb813720b7cd4979b60a"
title: "Describe what HTTP is and the role of the request and the response."
content: '''
  # Describe what HTTP is and the role of the request and the response.
  HTTP is a protocol, a set of rules that if all parties involved follow, results in a functional method to transfer data.
  
  An HTTP request by the client is used to ask for a resource of some kind from the server. This could be HTML to display a webpage, a CSS or JS file, images, etc. Information may be sent from client to server which can affect the response from the server.
  
  An HTTP response by the server is the answer to a HTTP request by a client. The response will contain several key components to adhere to HTTP. This reponse will also contain the information requested by the client.
  
'''
tags: [
  "QA"
]
isStarred: false
createdAt: "2017-08-08T18:44:52.122Z"
updatedAt: "2017-08-09T00:48:34.091Z"
