type: "MARKDOWN_NOTE"
folder: "ff77bd190bcb406a1e6c"
title: "What is RSpec and how is it different from Minitest?"
content: '''
  # What is RSpec and how is it different from Minitest?
  
  RSpec and Minitest are built to accomplish the same task - automate testing. RSpec differs from Minitest in that it is a __Domain Specific Language__. This means it is coded in such a way that allows the syntax to read better/easier. the underlying capabilities of RSpec vs. Minitest are the same.
  
  In contrast, Minitest is more straight forward and looks basically like regular Ruby code (because it is... so is RSpec).
'''
tags: [
  "QA"
]
isStarred: false
createdAt: "2017-06-13T22:28:58.770Z"
updatedAt: "2017-06-13T22:33:03.072Z"
