type: "MARKDOWN_NOTE"
folder: "865ee7e7975989c91bc4"
title: "Name and define the three sublanguages of SQL."
content: '''
  # Name and define the three sublanguages of SQL.
  
  **Data Definition Language**
  Controls the rules the data needs to follow and the relationships between the different data. SQL constructs used on this level are `CREATE`, `DROP`, `ALTER`, `ADD`. This is where the schema that control the data formats and relationships are created and altered.
  
  **Data Manipulation Language**
  Controls access and alteration of the actual data in the database. SQL constructs used in this sublanguage are `SELECT`, `INSERT`, `UPDATE`, `DELETE`.
  
  **Data Control Language**
  Controls the levels of access each user has to the data. The main SQL construct used here is `GRANT`.
'''
tags: [
  "QA"
]
isStarred: false
createdAt: "2017-08-24T20:58:50.718Z"
updatedAt: "2017-08-24T23:26:51.744Z"
