type: "MARKDOWN_NOTE"
folder: "ff77bd190bcb406a1e6c"
title: "Define test suite, test, and assertion"
content: '''
  # Define `test suite`, `test`, and `assertion`
  __Test suite__
  
  A test suite is the entire set of tests that are run on your code.
  
  __Test__
  
  A test is the environment in which the program will be verified for a specific feature. For example,
  
  * "This test will ensure an error will be thrown if the input is of an incorrect class.
  * "This test will verify that the output is a sorted array."
  * "This test will check if a password is valid."
  
  A test can have multiple assertions.
  
  __Assertion__
  
  An assertion is the actual verification step. This is the piece of code that will determine if the test will pass or fail. If the code returns what you expect (and the test is setup correctly of course), then the test will pass.
  
'''
tags: [
  "QA"
]
isStarred: false
createdAt: "2017-06-13T22:21:30.562Z"
updatedAt: "2017-06-13T22:21:39.854Z"
