type: "MARKDOWN_NOTE"
folder: "865ee7e7975989c91bc4"
title: "Topics of Discussion"
content: '''
  # Topics of Discussion
  ## SQL
  * [x] Explain the difference between INNER, LEFT OUTER, and RIGHT OUTER joins.
  * [x] Name and define the three sublanguages of SQL.
  * [x] Write SQL statements using INSERT, UPDATE, DELETE, CREATE/ALTER/DROP TABLE, ADD/ALTER/DROP COLUMN.
  * [x] Understand how to use GROUP BY, ORDER BY, WHERE, and HAVING.
  
  ## PostgreSQL
  * [x] Describe what a sequence is and what they are used for.
  * [x] Create an auto-incrementing column.
  * [x] Define a default value for a column.
  * [x] Be able to describe what primary, foreign, natural, and surrogate keys are.
  * [x] Create and remove CHECK constraints from a column.
  * [x] Create and remove foreign key constraints from a column.
  
  ## Database Diagrams
  * [x] Define cardinality and modality.
  * [x] Be able to draw database diagrams using crow's foot notation.
  
  ## Mine
  * [x] Why learn SQL?
  * [x] Speak about NULL and DEFAULT values.
  * [x] What should all tables have (according to the Ruby, JavaScript communities)?
  * [x] Create a sequence and work with it.
'''
tags: []
isStarred: false
createdAt: "2017-08-24T20:53:41.985Z"
updatedAt: "2017-08-29T19:23:57.277Z"
