type: "MARKDOWN_NOTE"
folder: "1a59de9384b539538d61"
title: "PostgreSQL Data Types Practice Questions"
content: '''
  # PostgreSQL Data Types Practice Questions
  ## Describe the difference between the `varchar` and `text` data types.
  
  `varchar(n)`: can contain strings up to a length of n. Max of 255.
  `text`: can contain string without length restriction.
  
  ## Describe the difference between the `integer`, `decimal`, and `real` data types.
  
  `integer`: whole numbers. Non-fractional.
  `decimal(precision, scale)`: Non-floating-point fraction values with limited precision.
  `real`: floating-point numbers. Can include fractional values.
  
  ## What is the largest value tha can be stored in an `integer` column?
  2147483647
  
  ## Describe the difference between the `timestamp` and `date` data types.
  `timestamp`: date and time
  `date`: date only
  
  ## Can a time with a time zone be stored in a column of type `timestamp`?
  No, must use `timestamptz`.
'''
tags: []
isStarred: false
createdAt: "2017-08-16T00:03:12.633Z"
updatedAt: "2017-08-16T00:11:46.078Z"
