type: "MARKDOWN_NOTE"
folder: "9e24b8240be4576e88ba"
title: "The Point of OOP"
content: '''
  # The Point of OOP
  ### What is the point of Object Oriented Programming?
  #### Pros
  1. Encapsulation: The ability to control access to data and methods. Helps with data security.
  2. Polymorphism: The ability to re-use code through mixins and inheritance. Keeps code DRY and easier to follow.
  3. Allows thinking on a higher level of abstraction. By naming methods and modules using nouns and verbs the deeper levels of code no longer need to be understood fully to improve the code. For example, if there is a method called `someone_won?` then its function will be to determine if someone won and it will return `true` or `false`. Understanding how it implements this logic is not needed in order to use it.
  
  ***
  
  #### Cons
  1. For smaller tasks, OOP can actually take more work to implement.
  2. Coding on higher levels of abstraction makes the learning curve for OOP higher.
  3. Program size is often larger.
  
'''
tags: []
isStarred: false
createdAt: "2017-05-22T00:04:35.614Z"
updatedAt: "2017-05-22T00:39:06.703Z"
