type: "MARKDOWN_NOTE"
folder: "ff77bd190bcb406a1e6c"
title: "Core Tools/Packaging Code"
content: '''
  # Core Tools/Packaging Code
  
  ## Purpose of Core Tools
  
  ## Gemfiles
'''
tags: []
isStarred: false
createdAt: "2017-06-08T12:31:47.422Z"
updatedAt: "2017-06-08T12:34:17.419Z"
