type: "MARKDOWN_NOTE"
folder: "ff77bd190bcb406a1e6c"
title: "Study Guide for Test"
content: '''
  # Study Guide for Test
  
  ## Blocks
  * Closures and scope
  * How blocks work, and when we want to use them
  * Blocks and variable scope
  * Write methods that use blocks and procs
  * Arguments and return values with blocks
  * When can you pass a block to a method
  * `&:symbol`
  
  ## Testing With Minitest
  * Testing terminology
  * Minispec vs. RSpec
  * SEAT Approach
  * Assertions
  
  ## Core Tool/Packaging Code
  * Purpose of core tools
  * Gemfiles
  
  ## Regular Expressions
'''
tags: []
isStarred: false
createdAt: "2017-05-31T12:15:32.412Z"
updatedAt: "2017-06-09T12:24:52.622Z"
