type: "MARKDOWN_NOTE"
folder: "bb813720b7cd4979b60a"
title: "Explain how redirection works and why it would be needed in a web application."
content: '''
  # Explain how redirection works and why it would be needed in a web application.
  
  
'''
tags: [
  "QA"
]
isStarred: false
createdAt: "2017-07-24T22:11:48.364Z"
updatedAt: "2017-07-24T22:12:00.526Z"
