type: "MARKDOWN_NOTE"
folder: "1a59de9384b539538d61"
title: "Database-backed Web Applications"
content: '''
  # Database-backed Web Applications
  ## Summary
  In this lesson we've taken a small web application that was using sessions to persist its data and modified it to use a PostgreSQL database instead. We've seen how to:
  
  * Extract the session-specific functionality into the `SessionPersistence` class.
  * Replace our use of `SessionPersistence` with `DatabasePersistence` to store data in a different location without making other changes to the application.
  * Safely handle inserting parameters into SQL statements with `PG::Connection#exec_params`.
  * Use a `configure(:development)` block for environment-specific setting.
  * Reload our code in development using `sinatra/reloader`.
  * Log database queries made by our application.
  
  We also saw how extracting code into a `SessionPersistence` class exposed an API that defined the functionality of the application.
'''
tags: []
isStarred: false
createdAt: "2017-08-21T19:10:51.078Z"
updatedAt: "2017-08-21T19:13:39.255Z"
