type: "MARKDOWN_NOTE"
folder: "2f2ccef443f50101476a"
title: "Topics of Discussion"
content: '''
  # Topics of Discussion
  
  ## Mine
  * [ ] In computer typography, what is the difference between a font and a typeface?
'''
tags: []
isStarred: false
createdAt: "2017-09-02T00:52:27.825Z"
updatedAt: "2017-09-02T00:52:58.231Z"
