body, h1, h2, h3, h4, h5, h6, p, ul, dl, ol, form, fieldset, input, label, table, tbody, tfoot, th, tr, td, textarea, select, code, pre, samp, kbd, var {
	font-family: "helvetica neue", helvetica, "lucinda sans unicode", "sans serif";
	font-weight: normal;
	color: #333;
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 14px;
	font-style: normal;
}
body {
	margin: 10px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	color: #555555;
}
h1 {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
}
h2 {
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	font-size: 20px;
}
h3 {
	height: 20px;
	line-height: 20px;
	color: #68B54F;
	font-weight: bold;
	font-size: 16px;
}
h4 {
	height: 16px;
	line-height: 16px;
	color: #68B54F;
	font-weight: bold;
	font-size: 14px;
}
p {
	margin: 1em;
	font-size: 14px;
}
pre {
	margin: .2em;
	padding: .2em;
	border: 1px solid #afafaf;
	border-radius: 5px;

}
code {
	font-family: monospace;
}
var {
	font-weight: bold;
}
ul, ol {
	max-width: 600px;
	margin: 5px 0;
	padding-left: 40px;
	font-size: 14px;
}
li.col-1-2 {
	width: 275px;
	float: left;
}
a {
	color: #0087cc;
	text-decoration: none;
}
a:visited {
	color: #0087cc;
}
a:hover, a:active {
	color: #68B54F;
}
nav {
	text-align: center;
}
nav > a {
	padding-right: 5px;
	display: inline-block;
}
.note {
	max-width: 500px;
	margin: 10px 20px;
	padding: 5px 20px;
	border: 1px solid #aaa;
	border-radius: 5px;
}
.note p {
	font-size: 12px;
}
.codeInline {
	color: #999999;
	font-family: monospace;
	background-color: #E0F0DB;
}
.clearfix {
	clear: both;
}

/*
===================================
Examples
===================================
*/
.ex {
	min-width: 500px;
}

/*
===================================
Chapter 7 Examples
===================================
*/

.ex7 {
	height: 100px;
}
.ex7-lin-grad {
	background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);
}
.ex7-lin-grad-dir {
	background: #466368;
  background: linear-gradient(to right bottom, #648880, #293f50);
}
.ex7-rad-grad {
	background: #466368;
  background: -webkit-radial-gradient(#648880, #293f50);
  background:    -moz-radial-gradient(#648880, #293f50);
  background:         radial-gradient(#648880, #293f50);
}
.ex7-grad-col-stop {
	background: #648880;
	background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
}

/*
===================================
Chapter 8 Examples
===================================
*/

.ex8 dl,
.ex8 dd,
.ex8 dt {
	width: inherit;
}
